
<!DOCTYPE html>
<html ng-app="plunker">
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>CIX | Dashboard</title>
  <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="assets/js/easing.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
  <script>
  var myApp = angular.module("plunker", ['ngRoute']);
  var rootUrl = 'http://localhost:3000/'
  var thirteenCol = 'thirteen wide column'
  var sixCol = 'six wide column'

    myApp.config(['$routeProvider',

    function ($routeProvider) {

    $routeProvider.when('/', { templateUrl: 'login.html' })
    .when('/login', { templateUrl: 'login.html' })
    .when('/communication', { templateUrl: 'communication.html' })
    .when('/complaints', { templateUrl: 'complaints.html',controller:"complaintCtrl" })
    .when('/complaintsDetails/:id', { templateUrl: 'complaintsDetails.html',controller:"complaintCtrl" })
    .when('/complaintsInvestigate/:id/:contractId', { templateUrl: 'complaintsInvestigate.html',controller:"complaintCtrl" })
    .when('/consortium', { templateUrl: 'consortium.html',controller:"complaintCtrl" })
    .when('/reports', { templateUrl: 'reports.html' });

    }

    ]);

    myApp.controller('ngtemplatectrl', function ($scope,$location,dataSvc,LoginService,$sce,$rootScope) {
        $rootScope.loading = false;
        $scope.username = '';
        $scope.loginSuccess = localStorage.getItem('loginSuccess');
        $scope.username = localStorage.getItem('username');
        $scope.userid = localStorage.getItem('userid');

    $scope.getClass = function (path) {
        return ($location.path().substr(0, path.length) === path) ? 'active' : '';
    }
    $scope.goTo = function(path) {
        $location.path(path)
    }
    $scope.formSubmit = function(username) {
        $rootScope.loading = true;
        LoginService.login(username).then(function(resp) {
            if(resp.length && resp[0].id) {
                $scope.error = '';
                $scope.username = '';
                localStorage.setItem('loginSuccess','true');
                localStorage.setItem('username',resp[0].name);
                localStorage.setItem('userid',resp[0].id);
                $scope.loginSuccess = 'true';
                $scope.username = resp[0].name;
                $scope.userid = resp[0].id;
                $rootScope.loading = false;
                $location.path('complaints');
            } else {
                $rootScope.loading = false;
                $scope.error = "Login Error !";
            }
        })
    };
    $scope.logout = function() {
        $rootScope.loading = true;
        localStorage.setItem('loginSuccess','false');
        localStorage.removeItem('username');
        localStorage.removeItem('userid');
        $scope.loginSuccess = 'false';
        $rootScope.loading = false;
        $location.path('/');
    }
    $scope.loginClass = $scope.loginSuccess == 'false' ?  sixCol : thirteenCol;
    });
    myApp.controller('complaintCtrl', function ($scope,$location,dataSvc,LoginService,$routeParams,$sce,$route,$rootScope) {
        var id = $routeParams.id;
        $scope.getComplaints = function() {
            $rootScope.loading = true;
            dataSvc.getComplaints().then(function(resp) {
                $scope.complaints = resp;
                $rootScope.loading = false;
            })
        }
        $scope.getContracts = function() {
            $rootScope.loading = true;
            dataSvc.getContracts().then(function(resp) {
                $scope.contracts = resp;
                $rootScope.loading = false;
            })
        }
        $scope.getUnapprovedContracts = function() {
            $rootScope.loading = true;
            dataSvc.getUnapprovedContracts().then(function(resp) {
                $scope.contractsList = resp;
                $rootScope.loading = false;
            })
        }
        $scope.getAllContracts = function() {
            $rootScope.loading = true;
            dataSvc.getContracts().then(function(resp) {
                $scope.contractsList = resp;
                $rootScope.loading = false;
            })
        }
        $scope.getContractsStartEnd = function() {
            $rootScope.loading = true;
            dataSvc.getContractsStartEnd(0,2).then(function(resp) {
                $scope.contracts = resp;
                $rootScope.loading = false;
            })
        }

        $scope.getComplaintDetails = function(id) {
            $rootScope.loading = true;
            dataSvc.getComplaintDetails(id).then(function(resp) {
                $scope.complaintData = resp;
                $rootScope.loading = false;
            })
        }
        
        $scope.getContractDetails = function(id) {
            $rootScope.loading = true;
            dataSvc.getContractDetails(id).then(function(resp) {
                $scope.contractData = resp;
                $rootScope.loading = false;
            })
        }
        
        if(id) {
            console.log($location.path())
            if($location.path().indexOf('complaintsDetails' != -1) && $location.path().indexOf('complaintsInvestigate') == -1) {
                console.log('complaintsDetails')
                $scope.getContractsStartEnd();
                $scope.getComplaintDetails(id);
            } else if($location.path().indexOf('complaintsInvestigate') != -1) {
                console.log('complaintsDetailsinvestin')
                $scope.getContractDetails($routeParams.contractId);
            } else {
                
            }
        }
        $scope.editContract = function(contractId) {
            $location.path('complaintsInvestigate/1/'+contractId);
        };

        $scope.approveContract = function(contractId) {
            $rootScope.loading = true;
            dataSvc.approveContract(contractId).then(function(resp) {
                $scope.contract = resp;
                if(resp.id) {
                    $rootScope.loading = false;
                    $location.path('consortium');
                    $route.reload();
                }
            })
        }

        $scope.publishContract = function(contractId) {
            $rootScope.loading = true;
            var complaintId = $routeParams.id;
            dataSvc.publishContract(complaintId,contractId).then(function(resp) {
                $scope.contract = resp;
                if(resp.id) {
                    $rootScope.loading = false;
                    $location.path('consortium');
                }
            })
        }
        
        $scope.applyContract = function() {
            $('.small.modal')
                .modal('show')
                $location.path('consortium');
            ;
        }
    });
    myApp.factory('LoginService', function($q,$http) {

    this.login = function(username) {
        var deferred = $q.defer();
        var url = rootUrl+'users?name='+username;
        $http.get(url)
            .success(function (data) {
                deferred.resolve(data);
            })
            .error(function (error) {
                deferred.reject(error);
            });

        return deferred.promise;
    }
    return this
    
  });
    myApp.service('dataSvc', function($http,$q) {
        this.userId = localStorage.getItem('userid');
        this.username = localStorage.getItem('username');
        this.getCommunications = function() {
            var deferred = $q.defer();
            var url = rootUrl+'communications';
            $http.get(url)
                .success(function (data) {
                    deferred.resolve(data);
                })
                .error(function (error) {
                    deferred.reject(error);
                });

            return deferred.promise;
        }
        this.getComplaints = function() {
            var deferred = $q.defer();
            var str = '';
            if(this.username != 'regulator') {
                str += '?createdBy='+this.username;
            } else {
                str += '';
            }
            var url = rootUrl+'complaints'+str;
            $http.get(url)
                .success(function (data) {
                    deferred.resolve(data);
                })
                .error(function (error) {
                    deferred.reject(error);
                });

            return deferred.promise;
        }
        this.getContracts = function() {
            var deferred = $q.defer();
            var url = rootUrl+'contracts';
            $http.get(url)
                .success(function (data) {
                    deferred.resolve(data);
                })
                .error(function (error) {
                    deferred.reject(error);
                });

            return deferred.promise;
        }
        this.getUnapprovedContracts = function() {
            var deferred = $q.defer();
            var str = '';
            if(this.username != 'regulator') {
                str += '?createdBy='+this.username;
            } else {
                str += '?status=pending';
            }
            var url = rootUrl+'contracts'+str;
            $http.get(url)
                .success(function (data) {
                    deferred.resolve(data);
                })
                .error(function (error) {
                    deferred.reject(error);
                });

            return deferred.promise;
        }
        this.getContractsStartEnd = function(start,end) {
            var deferred = $q.defer();
            var url = rootUrl+'contracts?_start='+start+'&_end='+end;
            $http.get(url)
                .success(function (data) {
                    deferred.resolve(data);
                })
                .error(function (error) {
                    deferred.reject(error);
                });

            return deferred.promise;
        }
        this.getContractDetails = function(id) {
            var deferred = $q.defer();
            var url = rootUrl+'contracts/'+id;
            $http.get(url)
                .success(function (data) {
                    deferred.resolve(data);
                })
                .error(function (error) {
                    deferred.reject(error);
                });

            return deferred.promise;
        }
        this.getComplaintDetails = function(id) {
            var deferred = $q.defer();
            var url = rootUrl+'complaints/'+id;
            $http.get(url)
                .success(function (data) {
                    deferred.resolve(data);
                })
                .error(function (error) {
                    deferred.reject(error);
                });

            return deferred.promise;
        }
        this.copyContract = function(scId) {
            var deferred = $q.defer();
            var url = rootUrl+'contracts';
            var _this = this;
            this.getContractDetails(scId).then(function(res) {
                delete res.id;
                res.status = "pending";
                res.createdBy = _this.username;
                console.log(_this.userId);
                $http.post(url,res)
                    .success(function (data) {
                        deferred.resolve(data);
                    })
                    .error(function (error) {
                        deferred.reject(error);
                    });
            })
            return deferred.promise;
        }
        this.approveContract = function(scId) {
            var deferred = $q.defer();
            var url = rootUrl+'contracts/'+scId;
            var _this = this;
            this.getContractDetails(scId).then(function(res) {
                delete res.id;
                res.status = "approved";
                $http.put(url,res)
                    .success(function (data) {
                        deferred.resolve(data);
                    })
                    .error(function (error) {
                        deferred.reject(error);
                    });
            })
            return deferred.promise;
        }
        this.publishContract = function(cplId,scId) {
            var deferred = $q.defer();
            var url = rootUrl+'complaints/'+cplId;
            var _this = this;
            this.getComplaintDetails(cplId).then(function(res) {
                _this.copyContract(scId).then(function(resp) {
                    res.appliedConsortium = resp.id;
                    $http.put(url,res)
                    .success(function (data) {
                        deferred.resolve(data);
                    })
                    .error(function (error) {
                        deferred.reject(error);
                    });  
                })
            })
            return deferred.promise;
        }
        this.postApporveComplaint = function(cplId) {
            var deferred = $q.defer();
            var url = rootUrl+'complaints/'+id;
            $http.get(url)
                .success(function (data) {
                    deferred.resolve(data);
                })
                .error(function (error) {
                    deferred.reject(error);
                });

            return deferred.promise;
        }
    });
    myApp.filter('unsafe', function($sce) { return $sce.trustAsHtml; });
  </script>
</head>
<body ng-controller="ngtemplatectrl">
        <div class="ui active inverted dimmer" ng-show="loading">
            <div class="ui medium text loader">Loading</div>
        </div>
  <div class="ui vertical masthead center aligned segment">

    <div class="ui container" ng-show="loginSuccess == 'true'">
      <div class="ui large secondary pointing menu">
        <h3 class="ui middle aligned image" style="top:20px">{{username}}</h3>
        <div class="right menu">
            <img class="ui middle aligned image right-logo" src="assets/img/cix.png">
        </div>
      </div>
    </div>

    <div class="ui vertical segment">
    <div class="ui container">
        <div class="ui stackable divided equal height stackable grid center aligned">
            <div class="three wide column" ng-show="loginSuccess == 'true'">
                <div class="ui vertical steps">
                    <div class="completed step cpl-step" ng-class="getClass('/communication')">
                        <div class="content">
                        <div class="title"><a href="#/communication">Communication Dashboard</a></div>
                        </div>
                    </div>
                    <div class="completed step cpl-step" ng-class="getClass('/complaints')">
                        <div class="content">
                        <div class="title"><a href="#/complaints">Complaints</a></div>
                        </div>
                    </div>
                    <div class="completed step cpl-step"  ng-class="getClass('/consortium')">
                        <div class="title"><a href="#/consortium">Consortium</a></div>
                        <div class="content">
                        </div>
                    </div>
                    <div class="step cpl-step" ng-class="getClass('/reports')">
                        <div class="title"><a href="#/reports">Reports</a></div>
                        <div class="content">
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="{{loginClass}}">-->
            <!--<div ng-class="{'false':'six wide column', 'true':'thirteen wide column'}[loginSuccess]" >
            <div ng-class="{'false':'six wide column', 'true':'thirteen wide column'}[loginSuccess]" >-->
                <div class="thirteen wide column" ng-if="loginSuccess=='true'">
                
                <div ng-view>
                    
                </div>
            </div>
            <div class="six wide column" ng-if="loginSuccess=='false'" >
                <div ng-view>
                    
                </div>
            </div
        </div>
    </div>
    <div class="one wide column" ng-show="loginSuccess == 'true'" style="position: absolute;bottom: 5%;right: 6%;">
        <button class="ui small blue button" ng-click="logout()">Sign Out</button>
    </div>
  </div>
</div>
<!-- login -->
  <script type="text/ng-template" id="login.html">
    <div class="column">
        <img src="assets/img/cix.png" class="image">
        <form class="ui large form">
        <div class="ui stacked segment">
            <div class="field">
            <div class="ui left icon input">
                <i class="user icon"></i>
                <input type="text" name="username" placeholder="Organisation Name" ng-model="username">
            </div>
            </div>
            <div class="ui fluid large blue submit button" ng-click="formSubmit(username)">Sign In</div>
        </div>

        <div class="ui error message">{{error}}</div>

        </form>
    </div>
  </script>
<!-- login -->

<!-- Communication -->
  <script type="text/ng-template" id="communication.html">
    <table class="ui very basic celled table cpl-table">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Content</th>
                            <th>Flag Type</th>
                            <th>Criticality</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="ui toggle checkbox"><input type="checkbox"><label></label></div>
                            </td>
                            <td>
                                <div class="one column row"><div class="column"><p class="cpl-table-content" ng-click=goTo('communicationDetails')>Looks interesting, can we connect later today for the Annuities…</p></div></div>
                            </td>
                            <td>
                                <p>Market Misconduct</p>
                            </td>
                            <td>
                                <i class="stop icon red"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="ui toggle checkbox"><input type="checkbox" checked="checked"><label></label></div>
                            </td>
                            <td>
                                <div class="one column row"><div class="column"><p class="cpl-table-content">Premium payable on these policies per year impossibly high…</p></div></div>
                            </td>
                            <td>
                                <p>Sales to Elderly</p>
                            </td>
                            <td>
                                <i class="stop icon yellow"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="ui toggle checkbox"><input type="checkbox" checked="checked"><label></label></div>
                            </td>
                            <td>
                                <div class="one column row"><div class="column"><p class="cpl-table-content">You’ll not be reimbursed for the value of a new machine…</p></div></div>
                            </td>
                            <td>
                                <p>Replacement</p>
                            </td>
                            <td>
                                <i class="stop icon yellow"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="ui toggle checkbox"><input type="checkbox"><label></label></div>
                            </td>
                            <td>
                                <div class="one column row"><div class="column"><p class="cpl-table-content">Squandered entire retirement fund as single-premium ones …</p></div></div>
                            </td>
                            <td>
                                <p>Sales to Elderly</p>
                            </td>
                            <td>
                                <i class="stop icon red"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="ui toggle checkbox"><input type="checkbox"><label></label></div>
                            </td>
                            <td>
                                <div class="one column row"><div class="column"><p class="cpl-table-content">Dissatisfied with the conduct of your Agent, Bob. Can we plea…</p></div></div>
                            </td>
                            <td>
                                <p>Market Misconduct</p>
                            </td>
                            <td>
                                <i class="stop icon grey"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="ui toggle checkbox"><input type="checkbox"><label></label></div>
                            </td>
                            <td>
                                <div class="one column row"><div class="column"><p class="cpl-table-content">To replace your damaged belonging, we would like you to… </p></div></div>
                            </td>
                            <td>
                                <p>Replacement</p>
                            </td>
                            <td>
                                <i class="stop icon grey"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="ui toggle checkbox"><input type="checkbox"><label></label></div>
                            </td>
                            <td>
                                <div class="one column row"><div class="column"><p class="cpl-table-content">The address changed & there was immediately a surrender…</p></div></div>
                            </td>
                            <td>
                                <p>Surrender</p>
                            </td>
                            <td>
                                <i class="stop icon grey"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="ui toggle checkbox"><input type="checkbox" checked="checked"><label></label></div>
                            </td>
                            <td>
                                <div class="one column row"><div class="column"><p class="cpl-table-content">Sorry, but we cannot accept your claim. Please reach out to…</p></div></div>
                            </td>
                            <td>
                                <p>Replacement</p>
                            </td>
                            <td>
                                <i class="stop icon yellow"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
  </script>
<!-- Communication -->


<!-- complaints -->
  <script type="text/ng-template" id="complaints.html">
    <table class="ui very basic celled table cpl-table" ng-init="getComplaints()">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Content</th>
                            <th>Flag Type</th>
                            <th>Criticality</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="complaint in complaints">
                            <td>
                                <div class="ui toggle checkbox"><input type="checkbox" ng-checked="complaint.approved"><label></label></div>
                            </td>
                            <td>
                                <div class="one column row"><div class="column"><p class="cpl-table-content" ng-click=goTo('complaintsDetails/'+complaint.id)>{{complaint.summary}}</p></div></div>
                            </td>
                            <td>
                                <p>{{complaint.flagType}}</p>
                            </td>
                            <td>
                                <i class="stop icon" ng-class="{3:'red',2:'yellow',1:'grey'}[complaint.criticality]"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
  </script>
<!-- complaints -->

<!-- comm-details -->
  <script type="text/ng-template" id="complaintsDetails.html">
    <div class="ui grid">
        <div class="twelve wide column">
            <h4>Summary of Complaint</h4>
            <div class="ui equal width form">
                <div class="fields">
                    <div class="field">
                    <label>Complaint#</label>
                    <input type="text" value="{{complaintData.cplNum}}" disabled>
                    </div>
                    <div class="field">
                    <label>Policy</label>
                    <input type="text" value="{{complaintData.policyNum}}" disabled>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                    <label>Department</label>
                    <input type="text" value="{{complaintData.dept}}" disabled>
                    </div>
                </div>
                <div class="fields">
                    <div class="field">
                    <label>Summary</label>
                        <div class="ui bulleted list" style="text-align:left">
                            <div ng-bind-html="complaintData.content | unsafe"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <h4>Related  Smart Contracts present in consortium</h4>
            <div class="ui hidden divider"></div>
            <div class="ui grid" ng-repeat="contract in contracts">
                <div class="three wide column contract-info">
                    <img class="ui mini right image" src="assets/img/contract.png" alt="">
                </div>
                <div class="nine wide column contract-info">
                    <div class="ui button" tabindex="0" ng-click="applyContract(contract.id)">
                                {{contract.ctrNum}}
                    </div>
                </div>
                <div class="five wide column contract-info"></div>
                <div class="nine wide column contract-info">
                    <div class="meta">
                        <p>Status : {{contract.status}}</p>
                        <p>Date : {{contract.createdDate}}</p>
                    </div>
                </div>
            </div>
    </div>
            <div class="ui small modal">
                <div class="ui icon header">
                    Smart Contract Applied !
                </div>
                <div class="content">
                    <p>Smart Contract {{contractNum}} applied to complaint # </p>
                </div>
                <div class="actions">
                    <div class="ui black deny button">
                    Close
                    </div>
                </div>
            </div>

    <button class="ui button" ng-click=goTo('complaintsInvestigate/'+complaintData.id+'/'+contracts[1].id)>
    Initiate Investigations
    </button>
    <button class="ui button">
    Initiate Separation
    </button>
    <button class="ui button">
    Report to NAIC
    </button>
  </script>
<!-- comm-details -->

<!-- investigate -->
  <script type="text/ng-template" id="complaintsInvestigate.html">
    <div class="ui raised segment">
            <table class="ui celled definition table segment">
                <tbody>
                    <tr>
                    <td>Smart Contract Number</td>
                    <td>{{contractData.ctrNum}}</td>
                    </tr>
                    <tr>
                    <td>Description of Contract </td>
                    <td><div ng-bind-html="contractData.content | unsafe"></div></td>
                    </tr>
                    <tr>
                    <td>Contract Trigger factors</td>
                    <td><p ng-bind-html="contractData.triggerFactors | unsafe"></p></td>
                    </tr>
                    <tr>
                    <td>Actions taken</td>
                    <td><p ng-bind-html="contractData.acttionDetails | unsafe"></p></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="ui right floated medium primary button" ng-click="username=='regulator' ? approveContract(contractData.id) : publishContract(contractData.id) ">{{username=='regulator' ? 'APPROVE' : 'Create & Publish'}}</button>
  </script>
<!-- investigate -->


<!-- Communication -->
  <script type="text/ng-template" id="consortium.html">
    <table class="ui very basic celled table cpl-table" ng-init="username=='regulator' ? getAllContracts() : getUnapprovedContracts()">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Initiated By</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contract in contractsList">
                            <td>
                                <img class="ui mini right spaced image" src="assets/img/contract.png" alt="">
                                <div class="ui button" tabindex="0" style="width: 150px;">{{contract.ctrNum}}</div>
                            </td>
                            <td>
                                <div class="meta">
                                    <p>Status : {{contract.status}}</p>
                                    <p>Date : {{contract.createdDate}}</p>
                                </div>
                            </td>
                            <td>
                                {{contract.createdBy}}
                            </td>
                            <td>
                                <button class="ui button" ng-class="{'approved':'primary','pending':'default'}[contract.status]" ng-click="username=='regulator' ? editContract(contract.id) : ''">
                                    {{username=='regulator' ?  (contract.status == 'approved' ? 'APPROVED' : 'EDIT' ): (contract.status == 'approved' ? 'APPROVED' : 'PUBLISHED' )}}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
  </script>
<!-- Communication -->

  <script src="assets/js/highlight.min.js"></script>
  <script src="assets/js/underscore.min.js"></script>
<script src="semantic/semantic.min.js"></script>
<script type="text/javascript">
$(document)
  .ready(function(){
    $('.demo .ui.checkbox')
      .checkbox();
  });
</script>
</body>

</html>
